.example-spacer {
  flex: 1 1 auto;
}

.opcion-activa {
  background-color: #e0e0e0; /* Color de fondo para indicar que está activado */
  color: #333; /* Color del texto para indicar que está activado */
}
