<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
  <ul style="list-style: none; padding: 0; margin: 0;">
    <li *ngFor="let rout of routes">
      <button mat-menu-item [routerLink]="[rout.path]" routerLinkActive="active">
        <mat-icon>dialpad</mat-icon>
        <span>{{rout.name}}</span>
      </button>
    </li>
  </ul>

  </mat-menu>
  <span>Shoes-Admin</span>
  <span class="example-spacer"></span>
  <mat-icon>share</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>


