
.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-color: #039be5;
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.card-custom {
  background-color: cadetblue;
  max-width: 400px;
  min-width: 400px;
  margin: 20px;

}

.card-custom-header1 {
  max-width: 800px;
  min-width: 400px;
  margin: 20px;
  background-color: #757ce8;

}
.card-custom-title {
  max-width: 800px;
  margin: 20px;

}

@media (max-width: 400px) {

  .card-custom {
    background-color: cadetblue;
    margin-bottom: 20px;
    max-width: 380px;

  }

}

table {
  width: 100%;
}
.example-card {
  max-width: 800px;
  margin: 20px;
  margin-bottom: 8px;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}



