
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-custom {
  max-width: 400px;
  margin: 20px;

}

@media (max-width: 400px) {

  .card-custom {
    margin: 1px;
    max-width: 380px;
  }

}




